.app {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  position: relative;
  z-index: 0;
  text-align: center;
  background-image: url("cosmos.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
